@import url("../styles/header.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-Color: #EBECEE;
    --white: #FFFFFF;
    --font-Color: white;
}


body {
    min-height: 100vh;
    background: var(--background-Color);
}

h1{
    background-color: white;
}

